@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Ubuntu:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Roboto&family=Ubuntu:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Lora:wght@500;600&family=Roboto&family=Ubuntu:wght@500&display=swap');


.name1{
    font-size: 3.75vw;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow: hidden; /*Hide any overflowing text */
    white-space: nowrap; /* Prevent line breaks */
    animation: typing 3s steps(400) 0.25s forwards;
    
}
.content1{
    font-size: 1.20vw;
    overflow: hidden; 
    font-family: 'Roboto', sans-serif;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

  body {
    animation: fadeInAnimation linear 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.60;
    }
    75%{
        opacity: 0.85;
    }
    100% {
        opacity: 1;
     }
}

.progres{
    background-color: white;
    position: fixed;
    z-index: 1;
    animation: progressbar 3s linear 1;
}

@keyframes progressbar {
    0%{
        width: 0vw;
        height: 2px;
    }
    50%  {
        width: 60vw;
        height: 2px;
    }
    100% {
        width: 100vw;
        height:2px;
    }
}

.remove1{
    /* font-size: 2vw; */
    font-weight: 900;
    font-family: 'IBM Plex Sans', sans-serif;
}

@media screen and (max-width: 991px) {
    .remove1 {
      display: none;
    }
  }

.lorafont{
    font-family: "Lora", serif !important;
}
.ibmfont{
    font-family: 'IBM Plex Sans', sans-serif;
}
.robotofont{
    font-family: 'Roboto', sans-serif;
}
.makebold{
    font-weight: 900;
}